.accordion-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem auto 5rem;
  width: 70%;
  min-height: 70vh;
  background-color: #006d77;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  justify-content: flex-end;
}

.accordio-sub {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background: linear-gradient(90deg, #83c5c08a, #83c5c0, #83c5bfb9);
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.subtitulo-accordion {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #000;
  padding: 0.2rem;
  letter-spacing: 2px;
}

.containeruser {
  width: 55%;
  height: 16vh;
  align-self: flex-end;
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.photouser-accordion {
  width: 20%;
  height: 100%;
  align-self: center;
  background-color: seagreen;
  margin: 2rem 4rem 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #020202;
}

.nameuser-accordion {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  align-self: center;
  margin: 0 0 0 7rem;
  letter-spacing: 1px;
}

.userimg {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

/* img, heart, cash, time */

.accordion-items {
  display: flex;
  align-self: flex-end;
  width: 55%;
  height: 5vh;
  margin: 1rem 1rem;
  align-content: center;
  font-size: 1.5em;
}

.likeDislike {
  display: flex;
  font-size: 2em;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5rem;
}

.botonLike {
  border: none;
  background-color: transparent;
  margin-right: 0.2rem;
}

.item1 {
  width: 7.5%;
  align-self: center;
  object-fit: contain;
  margin: 1rem;
}

.item2 {
  width: 15%;
  margin: 0 0 0 25rem;
  cursor: pointer;
}

.item4 {
  display: flex;
  justify-content: space-evenly;
}

.hastash {
  font-size: 1.2em;
  color: #000;
  width: 100%;
  text-align: justify;
  height: 100%;
  margin: auto 0;
  border-radius: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.duration {
  font-size: 1.1em;
  color: #000;
  width: 100%;
  text-align: justify;
  height: 100%;
  margin: 1rem;
  border-radius: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.accordion-imgcity {
  width: 25%;
  height: 45%;
  border-radius: 1rem;
  background-color: #000;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-right: 43rem;
}

.imgcity-accordion {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 4rem;
  margin-left: 8rem;
  border-radius: 1rem;
  align-self: center;
}

/* accordion invisible */

.container-togle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boton-acordion {
  align-self: center;
  border: none;
  border-radius: 1rem;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #83c5be;
}

/* -------------actividades---------------- */

.accordion-hid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100%;
  min-height: 80%;
  overflow: hidden;
}

.card-accordion {
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(90deg, #83c5bfb9, #83c5c0, #83c5bfb9);
  width: 30%;
  height: 45vh;
  margin: 0.7rem;
  border-radius: 1rem;
}

.items-card-accordion {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.containerimg-card {
  width: 100%;
  height: 80%;
}

.image-activities {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.titulo-accordion {
  margin-top: 0.5rem;
  height: 100%;
  text-align: center;
  font-size: bold;
  font-weight: 900;
  font-size: 2.2em;
  overflow: hidden;
}

/* -------------------- comments  -------------------- */
.accordion-body {
  width: 100%;
  height: 60vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  background-image: url(../components/SignIn/plantilla3.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 1rem;
  overflow-y: scroll;
}

.cartacoments {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.card-header {
  background-color: #000;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  border-radius: 3rem;
  border: none;
}

.card-body {
  background-color: #83c5be;
}

.card-text {
  width: 100%;
  min-height: 15vh;
  color: #fff;
  text-align: justify;
  font-size: 1.4em;
  background-color: #000;
  border-radius: 1rem;
  padding: 1rem;
}

.h1-alerta {
  background-color: #000;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  color: #fff;
}

.contenedor-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.primer-name {
  color: #83c5be;
  font-size: 2rem;
  margin: 0 2rem 0 0;
}

.contenedor-usuarioimagen {
  border-radius: 50%;
  width: 3rem;
}

.usuarioimagen {
  border-radius: 50%;
  width: 100%;
}

.boton12 {
  margin-right: 1rem;
}

/* -------------------- Breakpoint -480  -------------------- */
@media (max-width: 480px) {
  /* subtitulo */
  .accordion-container {
    flex-flow: column wrap;
    margin: 1rem auto 2rem;
    width: 90%;
    min-height: 70vh;
  }

  .subtitulo-accordion {
    font-size: 1.8em;
    letter-spacing: 0.5px;
  }

  /* user */
  .containeruser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    justify-content: space-evenly;
    margin-left: 0px !important;
  }

  .photouser-accordion {
    display: none;
    position: relative;
    height: 60%;
    margin: 0;
    left: -2rem;
  }

  .nameuser-accordion {
    text-align: center;
    margin: 0;
    font-size: 1.7em;
  }

  .accordion-items {
    width: 100%;
    display: flex;
    margin: auto;
    align-self: center;
    justify-content: center;
  }

  /* main accordion */

  .duration {
    font-size: 0.85em;
  }

  .item2 {
    width: 6% !important;
    margin: 0 0 0 15rem !important;
    align-self: flex-end;
  }

  .item4 {
    display: flex;
    height: 10vh;
    margin-top: 1rem;
  }

  .item1 {
    width: 8% !important;
  }
  .hastash {
    font-size: 0.7em;
    text-align: center;
  }

  .accordion-imgcity {
    display: none;
  }

  .boton-acordion {
    font-size: 0.6em;
  }

  .accordion-hid {
    flex-flow: column wrap;
  }

  .card-accordion {
    width: 100% !important;
  }

  .likeDislike{
    margin: 1rem auto;
  }
}

/* -------------------- Breakpoint -760  -------------------- */
@media (max-width: 760px) {
  .accordion-container {
    flex-flow: column wrap;
    margin: 1rem auto 2rem;
    width: 90%;
    min-height: 70vh;
    overflow: hidden;
  }

  .subtitulo-accordion {
    font-size: 1.8em;
    letter-spacing: 0.5px;
  }

  /* user */
  .containeruser {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }

  .photouser-accordion {
    height: 80%;
    margin: auto;
  }

  .userimg {
    width: 100%;
    align-self: center;
  }

  .nameuser-accordion {
    margin: auto;
    font-size: 1.7em;
  }

  .accordion-items {
    width: 100%;
    display: flex;
    margin: 0.5rem auto;
    align-self: center;
  }

  /* main accordion */

  .duration {
    font-size: 0.85em;
  }

  .item1 {
    width: 7.5% !important;
  }

  .item2 {
    width: 15% !important;

    margin: auto;
    align-self: flex-end;
  }

  .item4 {
    display: flex;
    height: 8vh;
    margin-top: 1rem;
  }

  .hastash {
    font-size: 0.7em;
    text-align: center;
  }

  .accordion-imgcity {
    display: none;
  }

  .boton-acordion {
    font-size: 0.6em;
  }

  .card-accordion {
    width: 80%;
  }
}

/* -------------------- Breakpoint -1000 -------------------- */
@media (max-width: 1000px) {
  .accordion-container {
    flex-flow: column wrap;
    margin: 1rem auto 2rem;
    width: 90%;
    min-height: 70vh;
  }

  .subtitulo-accordion {
    font-size: 1.8em;
    letter-spacing: 0.5px;
  }

  /* user */
  .containeruser {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 55%;
  }

  .photouser-accordion {
    height: 80%;
    margin: auto;
  }

  .userimg {
    width: 100%;
    align-self: center;
  }

  .nameuser-accordion {
    margin: auto;
    font-size: 1.7em;
  }

  .accordion-items {
    width: 100%;
    display: flex;
    margin: 0.5rem auto;
    align-self: center;
  }

  /* main accordion */

  .duration {
    font-size: 0.85em;
  }

  .item2 {
    margin: auto;
    align-self: flex-end;
  }

  .item1 {
    width: 6%;
  }

  .item4 {
    display: flex;
    height: 8vh;
    margin-top: 1rem;
  }

  .hastash {
    font-size: 0.7em !important;
    text-align: center;
  }

  .accordion-imgcity {
    display: none;
  }

  .boton-acordion {
    font-size: 0.6em;
  }

  .likeDislike {
    font-size: 1.5em;
    justify-content: center;
  }
}

/* -------------------- Breakpoint -1200 -------------------- */
@media (max-width: 1200px) {
  .hastash {
    font-size: 1em;
    text-align: center;
  }

  .item2 {
    margin: auto;
    cursor: pointer;
  }

  .accordion-imgcity {
    background-color: #0000;
    margin-right: 35rem;
  }
}

/* -------------------- Breakpoint -1330 -------------------- */
@media (min-width: 1500px) {
  .imgcity-accordion {
    margin-left: 3rem;
  }
}

@media (min-width: 1630px) {
  .accordion-imgcity {
    margin-right: 50rem;
  }
}

@media (min-width: 1846px) {
  .accordion-imgcity {
    margin-right: 56rem;
  }
}

@media (min-width: 2170px) {
  .accordion-imgcity {
    margin-right: 62rem;
  }
}

@media (min-width: 2438px) {
  .accordion-imgcity {
    margin-right: 70rem;
  }
}
