.buttonsocial{
	width: auto;
	height: 2em;
  margin: 1.5rem auto;
	font-size: 1.5em;
  border-radius: 1rem;
	display: flex;
	justify-content: left;
	align-items: center;
  padding: 1rem;
	border: 0px;
	
}

.my-facebook-button-class{
	background-color: rgb(52, 52, 207);
	color:white;
	
}

.buttonsocial :nth-child(1){
	margin-right: 0px !important;
	width: 45px !important;
}