/* ---------------header details ----------------*/
.container-fatherdetails{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100%;
   min-height: 100vh;
   /* background-color: #e29578; */
}

.card1{
    width: 100%;
    height: 55vh;
    background-attachment: fixed;  
      
}

.img-citydetails{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



/* ---------------main imgs ----------------*/
.maindetails{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 1rem 0 0 0;
}

.img-detailsmoto, .img-detailscity, .img-detailsculture{
    width: 30%;
    height: 100%;
    color: #006d77;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #000; */
}

.h2-details{
    margin: .5rem;
    font-size: 3em;
    
}

.bike{
    width: 35%;
    height: 35%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     border-radius: 50%;
}

.bandera{
    width: 35%;
    height: 35%;
}

.butonsToBack{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: .8em;
    margin-top: 9rem;
}


/* -------------------- Breakpoint -480  -------------------- */
@media (max-width: 480px){
    .card1{
    width: 100%;
    height: 80vh;
    }

    .maindetails{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 1rem auto;
        align-items: center;
    }

    .img-detailsmoto, .img-detailsculture{
        display: none;
    }

    .img-detailscity{
        width: 100%;
    }

    .bike{
        width: 45%;
        height: 45%;
       margin: auto;
    }

    .butonsToBack{
    margin-top: 0rem !important;
}
}




/* -------------------- Breakpoint -760  -------------------- */
@media (max-width: 760px){
   
    .img-detailsmoto{
        display: none;
    }

    .bike{
        width: 45%;
        height: 45%;
    }
  
    .butonsToBack{
    margin-top: 0rem !important;
}
}




/* -------------------- Breakpoint -1000 -------------------- */
@media (max-width: 1000px){
    
    .bandera{
    width: 45%;
    height: 45%;
    }

    .bike{
        width: 45%;
        height: 45%;
    }

     .butonsToBack{
    margin-top: 4rem;
}
}
    



/* -------------------- Breakpoint -1200 -------------------- */
@media (max-width: 1200px){
    
}