.search-city{
    width: 50%;
    height: 20vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.search-city .input{
    outline: none;
    color: #000;  
 }


 
.search-wrap{
    width: 21rem;
    margin: 2rem auto;
}/* Tamaño del input */


.search-wrap .search-box{
    position: relative;
    width: 22rem;
    height: 3.5rem;
}


.search-wrap .search-box .input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2.5rem;
    border-radius: 3.1rem;
    font-size: 2em;
    padding-right: 80px;
}


/* circulo que contiene el icono */
.search-wrap .search-box .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background-color: black;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    margin-right: -2px;
    cursor: default;
}

.search-wrap .search-box .btn:hover{
    background-color: #83c5be;  /* Color up Azul. */
    cursor: default;
}


/* Icono de la lupa */
.search-wrap .search-box .btn.btn-common .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.5em;
}


/* -------------------- Breakpoint -480  -------------------- */
@media (max-width: 480px){
    .search-city{
        width: 100%;
        
        overflow: hidden; /* así no se rompe el navbar por el extenso del search */
    }

    .search-wrap .search-box {
        width: 80%;
        margin: auto;
        height: 3rem;
        font-size: 1em;
        
    }
    .btn{
        display: none;
    }
    .input{
        font-size: 1em;
    }
    
}

/* -------------------- Breakpoint -760  -------------------- */
@media (max-width: 760px){
    .search-city{
        width: 100%;
        
        overflow: hidden; /* así no se rompe el navbar por el extenso del search */
    }

    .search-wrap .search-box {
        width: 80%;
        margin: auto;
        height: 3.5rem;
        font-size: 1em;
        
    }
    .btn{
        border-radius: 50%;
    }
    .input{
        font-size: 1em;
    }
}




/* -------------------- Breakpoint -1000 -------------------- */
@media (max-width: 1000px){
    
}


/* -------------------- Breakpoint -1200 -------------------- */
@media (max-width: 1200px){
    
}